body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right,rgb(187, 129, 58),rgb(84, 53, 13));
    
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(66, 39, 13, 0.6);
    padding: 15px;
    border-radius: 10px;
    width: 25%;
    color: whitesmoke;
}

fieldset {
    border: 3px solid wheat;
}

legend {
    border: 1px solid wheat;
    padding: 10px;
    text-align: center;
    background-color: wheat;
    border-radius: 8px;
    color: rgb(84, 53, 13);
}

.input_Box {
    position: relative;
    
}

.input_User {
    background: none;
    border: none;
    border-bottom: 1px solid whitesmoke;
    outline: none;
    color: whitesmoke;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.input_User:focus ~ .label_Input, .input_User:valid ~ .label_Input {
    top: -20px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(187, 129, 58);
}

.label_Input {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

#data_nascimento {
    border: none;
    padding: 7px;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
}

#submit {
    background-image: linear-gradient(to right,rgb(173, 105, 21),rgb(158, 100, 20));
    width: 100%;
    border: none;
    padding: 13px;
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
}

#submit:hover {
    background-image: linear-gradient(to right,rgb(148, 88, 14),rgb(126, 80, 14));
}